<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <header>
    <img src="/assets/10decoders.png" alt="Company Logo" class="logo">
    <nav class="navigation">
        <a href="http://localhost:4200">Home</a>
        <a href="">About</a>
        <a href="">contact</a>
        <button routerLink="/login" class="btnLogin-popup">Login</button>
    </nav>
</header>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mt-5">
          <div class="card-header text-center">
            <h3>Welcome to Our LIBRARY</h3>
          </div>
          <div class="card-background"></div> <!-- New background layer -->
          <div class="card-body">
            <p>Books are calling don't wait,<br><strong style=" font-family: cursive;">"Readers are Leaders"</strong></p>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
</body>
</html>